.main-menu {
    text-transform: uppercase;
    margin-left: 100px;
}

.fondoHead{
    width: 100%;
    height: 20%;
    background: #333333;
}
.fondoMenu{
    width: 100%;
    height: 20%;
    background: black;
}
.fondoUno{
    background: url(../imagenes/fondo1_Index.jpg);
    width: 100%;
    height: 700px;
}

.fondoDos{
    background: url(../imagenes/fondo2_todo_comienza.jpg);
    width: 100%;
    height: 700px;
}
.fondoTres{
    background: url(../imagenes/fondo3_index_diseña_tu_mismo.jpg);
    width: 100%;
    height: 700px;
}
.fondoCuatro{
    background: url(../imagenes/fondo4_plantillas.jpg);
    width: 100%;
    height: 700px;
}
.main-menu {
    text-transform: uppercase;
}
.fondoHead{
    width: 100%;
    height: 20%;
    background: #333333;
}
.fondoMenu{
    width: 100%;
    height: 20%;
    background: black;
}

* {
    margin:0px;
    padding:0px;
}

.main-menu {
    text-transform: uppercase;
}
.fondoHead{
    width: 100%;
    height: 20%;
    background: #333333;
}
.fondoMenu{
    width: 100%;
    height: 20%;
    background: black;
}

.main-menu ul li a:hover{
    color: #27c1f8;
    cursor:pointer;
    text-decoration: none;
    display:block;
}

.main-menu li  ul{
    display: none;
    position: absolute;
    background: #eceeee;
    padding:8px 12px;
    min-width:145.8px;

}

ul, ol {
    color: #02528a;
    list-style:none;		
}

.main-menu li:hover > ul {
    display: block;
}

.fondoSuscripciones1{

    background-color: white;
    opacity: 20%;
    width: 100%;
    height:300px; 
   
}

.imagenSuscripciones{
    
    width: 100%;
    height: 600px;
}

.imagenSuscripcionesPeremium{
    width: 100%;
    height: 300px; 
}

.titulosSuscripcion{
    font-size: 30px;
    color: #0099cc;
}

.colorEnfasis{
    color: #02528a;
}

.letraSuscripcion{
    font-size: 16px;
    color: #0099cc;
}

.tablaSuscripcion{
    font-size: 16px;
    color: #ffffff;  
    background-color: #6a9cb7;
    border-collapse: separate;
    border-spacing: 20px 0px;
    background: -webkit-linear-gradient(#18455d,#6a9cb7,white ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#18455d,#6a9cb7,white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#18455d,#6a9cb7,white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#18455d,#6a9cb7,white); /* Standard syntax */

}

.tablaSuscripcion tr , th{

    background-color: #ffffff;
    width: 235px;
    height: 400px;
    border-radius: 2%;
}

.posicionPabla{
    margin-top: -50px;
}

.posicionPablaSus{
     margin-top: -20px;
}
.posicionTablaSus{
  
    margin-top: -120px;
}

.titulosSuscripcionTabla{

    text-align: center;
    margin-top: auto;
    font-size: 30px;
    color: #ffffff;
}

.letraSuscripcionTabla{

    text-align: center;
    font-size: 16px;
    color: #02528a;
}

.letraSuscripcionTablaNumeros{
    text-align: center;
    font-size: 16px;
    color: #ffffff;
}

.letraSuscripcionTablaContenido{
     text-align: center;
    font-size: 16px;
    color: #ffffff;
}

.tamanioNumerosTabla{
    font-size: 30px;
}
.myButton {
	background-color:transparent;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
        border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
        color: #0a90b9;
	font-size:17px;
	padding:13px 25px;
	text-decoration:none;
}
.myButton:hover {
	background-color:transparent;
        color: #ffffff;
}
.myButton:active {
	position:relative;
	top:1px;
}


.separacionSuscripcion{  
    opacity: 20%;
    width: 100%;
    height:200px; 
}
.imagenOpcionesSuscripcion{
    width: 100%;
    height: 200px;
}

.imagenPagosSuscripcion{
    margin-top: 10px;
    width: 50%;
    height: 150px;
}

.imagenFondoOpciones{
    margin-top: -130px;
     width: 50%;
    height: 350px;
}

.freeTabla{

    color: #0d76a8;
}

.imagenFondoFREE{

    background: url(../imagenes/fondo1SsuscripcionFREE.jpg);
    width: 100%;
    height: 350px;
}

.tituloFree{

    margin-top: -250px;
    margin-left: 740px;;
    color: #ffffff;
    font-size: 40px;
    text-justify: auto;
}

.myButton2 {
    background-color:transparent;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #ffffff;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:16px;
    padding:14px 18px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.myButton2:hover {
    background-color:transparent;
}
.myButton2:active {
    position:relative;
    top:1px;
}

.azulLetra{
    opacity: 50%;
    color: #004e8d;
}

.separacionSuscripcionPremium{
    width: 100%;
    height: 250px;
    background-color: white;

}

.letraPremium{
    color: #27c1f8;
    font-size: 22px;
    font-family: none;
}

.serviciosFreeImg{
    margin-top: 20px;
    width: 90%;
    margin-left: 60px;
}

.letraInfo1{
    font-size: 15px;
    margin-left: -530px;
    margin-top: -30px;
}

.letraInfo2{
    font-size: 15px;
    margin-top: -68px;
    margin-left: -115px;
    position: absolute;
}

.letraInfo3{
    font-size: 15px;
    margin-top: -68px;
    margin-left: 150px;
    position: absolute;
}

.separacionSuscripcionPremium2{
    width: 100%;
    height: 400px;
   background: url(../imagenes/serviciosFree2.jpg);
}
.info{
    width: 100%;
    height: 140px;
}


.letraInfo4{
    font-size: 20px;
    margin-top: 30px;
    color: #25b19c;
}

.letraInfo5{
    color: #93e3d7;
    font-size: 15px;
    margin-top: -220px;
}

.letraInfo6{
     font-size: 15px;
     color: black ;
}


.imagenes{
    margin-left: 10%;
}

.uno{
    margin-right:25%;

}

.colorLetra{
    color:#000;
}

.colorLetra:hover{
    color: #00cccc;
}

.dos{
    margin-right:-98%;

}

.tres{
    margin-left: 189%;
}
.parrafoUno{
    color:  #ffffff;
    border-color: #eceeee;
    font-size: 40px;
    margin-top: 200px;
}

.tituloDos{
    color:  #ffffff;
    border-color: #eceeee;
    font-size: 40px;
    margin-top: 100px;
    margin-left: 100px;
}
.tituloTres{
    font-size: 40px;    
    margin-bottom: 30px;
}
.distanciaParrafoTres{
    margin-top: 80px;
    margin-bottom: 80px;
}
.parrafoDos{
    color:  #ffffff;
    border-color: #eceeee;
    font-size: 20px;
    width: 600px;
    margin-left: 100px;
}
.parrafoTres{
    color:  #ffffff;
    border-color: #eceeee;
    font-size: 20px;
    width: 600px;
    margin-left: 100px;
}

.logo{
    width: 300px;
    height: 50px;
}

.fotoPlantitillaUno{
    background: url(../imagenes/mini1.png);
    margin-top: 30px;
    margin-left: 160px;
    width: 400px;
    height: 200px;
}
.fotoPlantitillaUno:hover{
    background: url(../imagenes/mini1.png);
    opacity: 0.7;
}
.fotoPlantitillaDos{
    background: url(../imagenes/mini2.jpg);
    margin-top: 30px;
    margin-left: 120px;
    width: 400px;
    height: 200px;
}
.fotoPlantitillaDos:hover{
    background: url(../imagenes/mini2.jpg);
    opacity: 0.7;
}
.fotoPlantitillaTres{
    background: url(../imagenes/mini3.jpg);
    margin-top: 30px;
    margin-left: 160px;
    width: 400px;
    height: 200px;
}
.fotoPlantitillaTres:hover{
    background: url(../imagenes/mini3.jpg);
    opacity: 0.7;
}
.fotoPlantitillaCuatro{
    background: url(../imagenes/mini4.jpg);
    margin-top: 30px;
    margin-left: 120px;
    width: 400px;
    height: 200px;
}
.fotoPlantitillaCuatro:hover{
    background: url(../imagenes/mini4.jpg);
    opacity: 0.7;
}

.fondoAyuda{
    background: url(../imagenes/ayuda01.gif);
    width: 100%;
    height: 400px;
    }
.botonBuscar{
    z-index: 1;
    position: relative;
    top: 48px;
    left: 19.5%;
    background-color: transparent;
    width: 34px;
    height: 34px;
    background-image: url(../imagenes/MAG04A.ICO);
    border: 0;
    
    
      
}
.textoAyuda{
    color:  #ffffff;
    border-color: #eceeee;

}
.textouno{
    margin-top: 60px;
    color:  #ffffff;
    border-color: #eceeee;
    font-size: 80px;
}
.textodos{
    color:  #ffffff;
    border-color: #eceeee;
    font-size: 20px;
}
.campoTexto{
    
    z-index: 0;
    margin-top: 40px;
    position: absolute;
    left: 30%;
    border-radius: 10px;

}
.espacio{
    width: 1340px;
    height: 100px;
    
   
}
.tituloAyuda{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 12px;
    color: #162d3d;
    
}
.subAyuda{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-bottom: 4px;
    position: relative;

    font-size: 15px;
}
.fondoFooter{
    width: 100%;
    height: 500px;
    background-color: #f9f9f9;
}

.fondoFooterPlantilla{
    margin-left: -100px;
    width: 130%;
    height: 500px;
    background-color: #f9f9f9;
}

.tituloFooter{
    color:  #000;
    border-color: #eceeee;
    font-size: 15px;
}
.subTituloFooter{
    margin-top:  25px;
}
.finalFooter{
    font-size: 15px;
    color:  #000;
    border-color: #eceeee;
}
.iconosFooter{
    border-radius: 10px;
    width:25px;
    height: 25px;
}
.fondoImagen{
    background-image: url(../imagenes/fondo4_plantillas.jpg);
    width: 100%;
    height: 450px;
    margin-top: 1px;
}
.textoQuienesSomos{
    font-size: 20px;
    color: #18455d;

}
.borde{
    margin-left:  500px;
}
.MargenFooterQuinesSomos{
    margin-left: 250px;
}
.LetraGrandeQuienesSomos{
    font-size: 30px;
}

.pie{
    background: #f8f8f8;
    width: 100%;
    height: 235px;
}
.pieTextUno{
    margin-left: 10%;
}
.tituloGrande{
    color:  #ffffff;
    border-color: #eceeee;
    font-size: 60px;
    margin-top: 100px;
    margin-left: 100px;
}
.tituloMedio{
    color:  #ffffff;
    border-color: #eceeee;
    font-size: 40px;
    margin-left: 100px;
}
.textoPlantillas{  
    margin-left: 330px;   
}

.formuName input[type="text"]{
    margin-left: 20%;
    width: 20%;

}
input[type="text"]{
    color: inherit;
    padding: 12px;
    font-size: 14px;
    font-family: inherit;
    overflow: auto;
    vertical-align: middle;
    margin-bottom: 15px;
    border: 1px solid #999;
    height: 48px;

}

textarea{
    height: 100px;
    width: 860px;
}

.tituuloCon{
    font-family: arial;
    font-weight: 700;
    font-style: normal;
    font-size: 80px;
    color: #2b2b2b;
}

.campoUno{
    margin-left: 10%;
}

.campoDos{
    margin-left: 15%;
}

.campoTres{
    margin-left: 10%;
}

.campoCuatro{
    margin-left: 10%;
}


.zt-button {
    width: 100px;
    margin-left: 11.2%;
    font-weight: 800;
    font-size: 14px;
    padding: 12px 20px 15px 20px;
    display: inline-block;
    text-decoration: none;
    background-color: #ffc600;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border: none;
    -webkit-box-shadow: 0 -2px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 -2px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 -2px rgba(0, 0, 0, 0.2) inset;
}
.zt-button:hover {
    background-color: #00cccc;
}

.redes{
    margin-left: 20%;
}
.titulo{
    font-family: arial;
    font-size: 40px;
    height: 90%;}
.im{
    background: url(../imagenes/fondo4_plantillas.jpg);
    margin-top: 40px;
    margin-left: 120px;
    width: 80%;
    height: 90px;
}
.botonIndex{
    margin-top: 60px;
    background: white;
    font-size: 25px;
    color: black;
    -webkit-border-radius:12px;
    border-radius:40px;
    border:2px solid #fff;
    width: 200px;
    height: 65px;
}
.inisioSesion{
    font-size: 50px;
    margin-bottom: 30px;
    margin-top: 50px;
}
.tamañoRegistro{
    margin-left: 30%;
    margin-top: 3%;
    width: 50%;
    height: 20%;
}
.espacioOpcRecuperacion{
    margin-left: 40px;
}
.botonSesion{
    background: white;
    font-size: 25px;
    color: black;
    -webkit-border-radius:12px;
    border-radius:40px;
    border:2px solid #00cccc;
    width: 200px;
    height: 55px;
}
.botonSesion:hover{
    background: #00cccc;
}
.iniciaFacebook{
    background-image: url(../imagenes/iniciaFacebook.jpg);
    width: 299px;
    height: 48px;
}
.iniciaFacebook:hover{
    background-image: url(../imagenes/iniciaFacebookHover.jpg);
    width: 299px;
    height: 48px;
}
.iniciaGoogle{
    margin-top: 5%;
    background-image: url(../imagenes/iniciaGoogle.jpg);
    width: 299px;
    height: 48px;
}
.iniciaGoogle:hover{
    background-image: url(../imagenes/iniciaGoogleHover.jpg);
    width: 299px;
    height: 48px;
}
.separacionSuscripcion{
    width: 100%;
    margin-top: 245px;
}

.contenidoFree{
    width: 100%;
    height: 300px;
}

.iconoPC{
    width: 60px;
    margin-left: 360px;
    margin-top: 30px;
}
.iconoRed{
     width: 60px;
     margin-left: 80px;
     margin-top: 30px;
}
.iconoServidor{
     width: 60px;
     margin-left: 80px;
     margin-top: 30px;
}
.iconoMundo{
     width: 60px;
     margin-left: 80px;
     margin-top: 30px;
}

#subTituloFooterContacto{
    color: #000;
    font-size: 35px;
    margin-top: 20px;
}
.ubicacionTexto{
    margin-left: 50%;
    margin-top: 10%;
}
.distanciaFoot{
    height: 185px;
}
