.main-menu {
    text-transform: uppercase;
    margin-left: 100px;
}

.fondoHead{
    width: 100%;
    height: 20%;
    background: #333333;
}
.fondoMenu{
    width: 100%;
    height: 20%;
    background: black;
}
.fondoUno{
    background: url(../imagenes/fondo1_Index.jpg);
    width: 100%;
    height: 700px;
}

.fondoDos{
    background: url(../imagenes/fondo2_todo_comienza.jpg);
    width: 100%;
    height: 700px;
}
.fondoTres{
    background: url(../imagenes/fondo3_index_diseña_tu_mismo.jpg);
    width: 100%;
    height: 700px;
}
.fondoCuatro{
    background: url(../imagenes/fondo4_plantillas.jpg);
    width: 100%;
    height: 700px;
}
.main-menu {
    text-transform: uppercase;
}
.fondoHead{
    width: 100%;
    height: 20%;
    background: #333333;
}
.fondoMenu{
    width: 100%;
    height: 20%;
    background: black;
}

* {
    margin:0px;
    padding:0px;
}

.main-menu {
    text-transform: uppercase;
}
.fondoHead{
    width: 100%;
    height: 20%;
    background: #333333;
}
.fondoMenu{
    width: 100%;
    height: 20%;
    background: black;
}

.main-menu ul li a:hover{
    color: #27c1f8;
    cursor:pointer;
    text-decoration: none;
    display:block;
}

.main-menu li  ul{
    display: none;
    position: absolute;
    background: #eceeee;
    padding:8px 12px;
    min-width:145.8px;

}

ul, ol {
    color: #02528a;
    list-style:none;		
}

.main-menu li:hover > ul {
    display: block;
}

.fondoSuscripciones1{

    background-color: #6a9cb7;
    opacity: 20%;
    width: 100%;
    height:300px; 
    background: -webkit-linear-gradient(#6a9cb7,#18455d ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#6a9cb7, #18455d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#6a9cb7, #18455d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#6a9cb7, #18455d); /* Standard syntax */


}

.titulosSuscripcion{
    font-family: none;
    font-size: 30px;
    color: #ffffff;
}

.colorEnfasis{
    font-style: none;
    color: #02528a;
}

.letraSuscripcion{
    font-family: none;
    font-family: serif;
    font-size: 16px;
    color: #ffffff;
}

.tablaSuscripcion{


    font-family: none;
    font-family: serif;
    font-size: 16px;
    color: #ffffff;  
    background-color: #6a9cb7;
    border-collapse: separate;
    border-spacing: 5px 0px;
    background: -webkit-linear-gradient(#18455d,#6a9cb7,white ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#18455d,#6a9cb7,white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#18455d,#6a9cb7,white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#18455d,#6a9cb7,white); /* Standard syntax */

}

.tablaSuscripcion tr , th{

    background-color: #ffffff;
    width: 200px;
    height: 400px;
    border-radius: 2%;
}

.posicionPabla{
    margin-top: -120px;
}

.titulosSuscripcionTabla{

    text-align: center;
    margin-top: auto;
    font-family: none;
    font-size: 30px;
    color: #27c1f8;
}

.letraSuscripcionTabla{

    font-family: none;
    text-align: center;
    font-family: serif;
    text-align: center;
    font-size: 16px;
    color: #02528a;
}

.tamanioNumerosTabla{
    font-size: 30px;
}
.myButton {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #459ac7), color-stop(1, #08458f));
    background:-moz-linear-gradient(top, #459ac7 5%, #08458f 100%);
    background:-webkit-linear-gradient(top, #459ac7 5%, #08458f 100%);
    background:-o-linear-gradient(top, #459ac7 5%, #08458f 100%);
    background:-ms-linear-gradient(top, #459ac7 5%, #08458f 100%);
    background:linear-gradient(to bottom, #459ac7 5%, #08458f 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#459ac7', endColorstr='#08458f',GradientType=0);
    background-color:#459ac7;
    -moz-border-radius:33px;
    -webkit-border-radius:33px;
    border-radius:33px;
    border:2px solid #2270bd;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Times New Roman;
    font-size:15px;
    padding:13px 27px;
    text-decoration:none;
    text-shadow:0px 1px 0px #4b84ad;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #08458f), color-stop(1, #459ac7));
    background:-moz-linear-gradient(top, #08458f 5%, #459ac7 100%);
    background:-webkit-linear-gradient(top, #08458f 5%, #459ac7 100%);
    background:-o-linear-gradient(top, #08458f 5%, #459ac7 100%);
    background:-ms-linear-gradient(top, #08458f 5%, #459ac7 100%);
    background:linear-gradient(to bottom, #08458f 5%, #459ac7 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#08458f', endColorstr='#459ac7',GradientType=0);
    background-color:#08458f;
}
.myButton:active {
    position:relative;
    top:1px;
}

.separacionSuscripcion{  
    background-color: #6a9cb7;
    background-color: #a7cad7;
    opacity: 20%;
    width: 100%;
    height:200px; 
}
.modosDePago{
    background-color: #6a9cb7;
    opacity: 20%;
    width: 100%;
    height:245px; 
    background: -webkit-linear-gradient(white,#6a9cb7,#18455d ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white,#6a9cb7,#18455d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white,#6a9cb7,#18455d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white,#6a9cb7,#18455d); /* Standard syntax */
}
.imagenOpcionesSuscripcion{
    width: 100%;
    height: 200px;
}

.imagenPagosSuscripcion{
    margin-top: 10px;
    width: 50%;
    height: 150px;
}


.freeTabla{

    color: #00cc33;
}

.imagenFondoFREE{

    background: url(../imagenes/fondo1SsuscripcionFREE.jpg);
    width: 100%;
    height: 350px;
}

.tituloFree{

    margin-top: -250px;
    margin-left: 740px;;
    color: #ffffff;
    font-size: 40px;
    text-justify: auto;
}

.myButton2 {
    background-color:transparent;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #ffffff;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:16px;
    padding:14px 18px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.myButton2:hover {
    background-color:transparent;
}
.myButton2:active {
    position:relative;
    top:1px;
}

.azulLetra{
    opacity: 50%;
    color: #004e8d;
}

.separacionSuscripcionPremium{
    width: 100%;
    height: 250px;
    background-color: white;

}

.letraPremium{
    color: #27c1f8;
    font-size: 22px;
    font-family: none;
}

.serviciosFreeImg{
    margin-top: 20px;
    width: 90%;
    margin-left: 60px;
}

.letraInfo1{
    font-family: none;
    font-size: 15px;
    margin-left: -530px;
    margin-top: -30px;
}

.letraInfo2{
    font-family: none;
    font-size: 15px;
    margin-top: -68px;
    margin-left: -115px;
    position: absolute;
}

.letraInfo3{
    font-family: none;
    font-size: 15px;
    margin-top: -68px;
    margin-left: 150px;
    position: absolute;
}

.separacionSuscripcionPremium2{
    width: 100%;
    height: 400px;
    background-color: #e8e8e8;

    background: -webkit-linear-gradient(#e8e8e8,white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e8e8e8,white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e8e8e8,white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e8e8e8,white); /* Standard syntax */

}

.imgServicios2{
    width: 600px;
    height: 300px;
    margin-left: 615.6px;   
    margin-top: 50px;
    border-radius: 2%;
    border: 15px;
    border-color: #ffffff;
}

.letraInfo4{
    position: absolute;
    font-family: none;
    font-size: 20px;
    margin-left: -480px;
    margin-top: -300px;
    color: #25b19c;
}

.letraInfo5{
    font-family: none;
    color: #93e3d7;
    font-size: 15px;
    position: absolute;
    margin-left: -430px;
    margin-top: -220px;
}

.letraInfo6{

    font-family: none;
    color: #000000;
    font-size: 13px;
    position: absolute;
    margin-left: -500px;
    margin-top: -160px;
}
.titulo{
    font-family: arial;
    font-size: x-large;

}

.imagenes{
    margin-left: 10%;
}

.uno{
    margin-right:25%;

}

.colorLetra{
    color:#000;
}

.dos{
    margin-right:-98%;

}

.tres{
    margin-left: 189%;
}
.parrafoUno{
    color:  #ffffff;
    border-color: #eceeee;
    font-size: 40px;
    margin-top: 200px;
}

.tituloDos{
    color:  #ffffff;
    border-color: #eceeee;
    font-size: 40px;
    margin-top: 100px;
    margin-left: 100px;
}
.tituloTres{
    font-size: 40px;    
    margin-bottom: 30px;
}
.distanciaParrafoTres{
    margin-top: 80px;
    margin-bottom: 80px;
}
.parrafoDos{
    color:  #ffffff;
    border-color: #eceeee;
    font-size: 20px;
    width: 600px;
    margin-left: 100px;
}
.parrafoTres{
    color:  #ffffff;
    border-color: #eceeee;
    font-size: 20px;
    width: 600px;
    margin-left: 100px;
}

.logo{
    width: 400px;
    height: 50px;
}

.fotoPlantitillaUno{
    background: url(../imagenes/mini1.png);
    margin-top: 30px;
    margin-left: 160px;
    width: 400px;
    height: 200px;
}
.fotoPlantitillaUno:hover{
    background: url(../imagenes/mini1.png);
    opacity: 0.7;
}
.fotoPlantitillaDos{
    background: url(../imagenes/mini2.jpg);
    margin-top: 30px;
    margin-left: 120px;
    width: 400px;
    height: 200px;
}
.fotoPlantitillaDos:hover{
    background: url(../imagenes/mini2.jpg);
    opacity: 0.7;
}
.fotoPlantitillaTres{
    background: url(../imagenes/mini3.jpg);
    margin-top: 30px;
    margin-left: 160px;
    width: 400px;
    height: 200px;
}
.fotoPlantitillaTres:hover{
    background: url(../imagenes/mini3.jpg);
    opacity: 0.7;
}
.fotoPlantitillaCuatro{
    background: url(../imagenes/mini4.jpg);
    margin-top: 30px;
    margin-left: 120px;
    width: 400px;
    height: 200px;
}
.fotoPlantitillaCuatro:hover{
    background: url(../imagenes/mini4.jpg);
    opacity: 0.7;
}

.fondoAyuda{
    background: url(../imagenes/ayuda4.gif);

    width: 1340px;
    height: 400px;

}
.botonBuscar{
    z-index: 1;
    position: relative;
    top: 40px;
    left: 253px;
    background-image:  url(../imagenes/iconoBuscar.png);
    width: 38px;
    height: 38px
}
.textoAyuda{
    color:  #ffffff;
    border-color: #eceeee;

}
.textouno{
    margin-top: 60px;
    color:  #ffffff;
    border-color: #eceeee;
    font-size: 80px;
}
.textodos{
    color:  #ffffff;
    border-color: #eceeee;
    font-size: 20px;
}
.campoTexto{

    z-index: 0;
    margin-top: 40px;
    position: absolute;
    left: 410px;

}
.espacio{
    width: 1340px;
    height: 100px;
}
.tituloAyuda{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 12px;
    color: #162d3d;
}
.subAyuda{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-bottom: 4px;
    position: relative;

    font-size: 15px;
}
.fondoFooter{
    width: 1340px;
    height: 450px;
    margin-bottom: 10px;
    background-color: #578bbd;
}
.tituloFooter{

    color:  #ffffff;
    border-color: #eceeee;
    font-size: 15px;
}
.subTituloFooter{
    margin-top:  25px;
}
.finalFooter{
    font-size: 15px;
    color:  #ffffff;
    border-color: #eceeee;
}
.iconosFooter{
    border-radius: 10px;
    width:25px;
    height: 25px;
}
.fondoImagen{
    background-image: url(../imagenes/fondo4_plantillas.jpg);
    width: 1363px;
    height: 450px;

}
.textoQuienesSomos{
    font-size: 20px;
    color: #18455d;

}
.borde{
    margin-left:  500px;
}
.MargenFooterQuinesSomos{
    margin-left: 250px;
}
.LetraGrandeQuienesSomos{
    font-size: 30px;
}

.pie{
    background: #f8f8f8;
    width: 100%;
    height: 180px;
}
.pieTextUno{
    margin-left: 10%;
}
.tituloGrande{
    color:  #ffffff;
    border-color: #eceeee;
    font-size: 60px;
    margin-top: 100px;
    margin-left: 100px;
}
.tituloMedio{
    color:  #ffffff;
    border-color: #eceeee;
    font-size: 40px;
    margin-left: 100px;
}
.textoPlantillas{  
    margin-left: 330px;   
}

.formuName input[type="text"]{
    margin-left: 20%;
    width: 20%;

}
input[type="text"]{
    color: inherit;
    padding: 12px;
    font-size: 14px;
    font-family: inherit;
    overflow: auto;
    vertical-align: middle;
    margin-bottom: 15px;
    border: 1px solid #999;
    height: 48px;

}

textarea{
    height: 100px;
    width: 860px;
}

.tituuloCon{
    font-family: arial;
    font-weight: 700;
    font-style: normal;
    font-size: 80px;
    color: #2b2b2b;
}

.campoUno{
    margin-left: 10%;
}

.campoDos{
    margin-left: 15%;
}

.campoTres{
    margin-left: 10%;
}

.campoCuatro{
    margin-left: 10%;
}


.zt-button {
    margin-left: 11.5%;
    font-weight: 700;
    font-size: 12px;
    padding: 12px 20px 15px 20px;
    display: inline-block;
    text-decoration: none;
    background-color: #ffc600;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border: none;
    -webkit-box-shadow: 0 -2px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 -2px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 -2px rgba(0, 0, 0, 0.2) inset;
}
.zt-button:hover {
    background-color: #555555;
}
.botonIndex{
    margin-top: 60px;
    background: white;
    font-size: 25px;
    color: black;
    -webkit-border-radius:12px;
    border-radius:40px;
    border:2px solid #fff;
    width: 200px;
    height: 65px;
}
.inisioSesion{
    font-size: 50px;
    margin-bottom: 30px;
    margin-top: 50px;
}
.tamañoRegistro{
    margin-left: 30%;
    margin-top: 3%;
    width: 50%;
    height: 20%;
}
.espacioOpcRecuperacion{
    margin-left: 40px;
}
.botonSesion{
    background: white;
    font-size: 25px;
    color: black;
    -webkit-border-radius:12px;
    border-radius:40px;
    border:2px solid #00cccc;
    width: 200px;
    height: 55px;
}
.botonSesion:hover{
    background: #00cccc;
}
.iniciaFacebook{
    background-image: url(../imagenes/iniciaFacebook.jpg);
    width: 299px;
    height: 48px;
}
.iniciaFacebook:hover{
    background-image: url(../imagenes/iniciaFacebookHover.jpg);
    width: 299px;
    height: 48px;
}
.iniciaGoogle{
    margin-top: 5%;
    background-image: url(../imagenes/iniciaGoogle.jpg);
    width: 299px;
    height: 48px;
}
.iniciaGoogle:hover{
    background-image: url(../imagenes/iniciaGoogleHover.jpg);
    width: 299px;
    height: 48px;
}